* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Darker Grotesque", sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

body .landing-bg {
  background: url("./assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-gradient-bg {
  background: linear-gradient(
    97.19deg,
    #4646f5 1.13%,
    #8f8ff9 88.99%,
    #ffffff 145.31%
  );
}

.refarrel-engine-gradient,
.menu-gradient-bg {
  background: linear-gradient(
    301.42deg,
    #4f4fff 59.91%,
    #b6b6ff 175.14%,
    #ffffff 175.15%
  );
}

.circle-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 6%;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}
