* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Darker Grotesque", sans-serif;
  margin: 0;
  padding: 0;
}

.landing-bg {
  background: url("./assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-gradient-bg {
  background: linear-gradient(
    97.19deg,
    #4646f5 1.13%,
    #8f8ff9 88.99%,
    #ffffff 145.31%
  );
}
